<a href="https://colab.research.google.com/github/Ashish05032007/Ashish05032007/blob/main/Lab1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
LAB-1(12-09-2025)

Q1). Swapping two variable without any third variable

In [ ]:
a=6
b=5
print("a:",a)
print("b:", b)

print("\n")

a,b=b,a

print("After Swapping:\n")

print("a:",a)
print("b:", b)

a: 6
b: 5


After Swapping:

a: 5
b: 6

Q2).Create a program to compute students marks, grade classification as:
marks>=90:A grade,
marks(80-89):B grade,
marks(70-79):C grade,
marks(60-69):D grade,
marks <=60:fail

In [ ]:
x=int(input("enter your marks:"))

if x>=90:
  print("Grade:A")
elif x>=80 and x<=89:
  print("Grade:B")
elif x>=70 and x<=79:
  print("Grade:C")
elif x>=60 and x<=69:
  print("grade:D")
else:
  print("Fail")

enter your marks:65
grade:D

Q3). Write a program the area and parameter of a rectangle for given length and breadth

In [ ]:
l=45
b=3

A=l*b
P=2*(l+b)

print("Area:",A)
print("Perimeter:",P)

Area: 135
Perimeter: 96

Q4).Input two complex number and display their sum, diffrence and product

In [ ]:
c1=4+6j
c2=2-3j

print("sum:",c1+c2)
print("difference", c1-c2)
print("product", c1*c2)

sum: (6+3j)
difference (2+9j)
product (26+0j)

Q5) convert temprature from celcius to farenheit and vice versa.

In [ ]:
t_celcius=32
t_farenheit=9*(t_celcius)/5+32

print(t_celcius,"degree celcius=",t_farenheit,"degree farenheit")

t_farenheit=98
t_celcius=(t_farenheit-32)*5/9

print(t_farenheit,"degree*F=",t_celcius,"degree celcius")

32 degree celcius= 89.6 degree farenheit
98 degree*F= 36.666666666666664 degree celcius

q6). Make a calculator

In [ ]:
a=20
b=30

print("Sum=", a+b)
print("Difference", a-b)
print("product", a*b)
print("Divison", a/b)
print("Remainder:", a%b)

Sum= 50
Difference -10
product 600
Divison 0.6666666666666666
Remainder: 20

Q7).Print a fibonacci series

In [ ]:
n1=0
n2=1

print(n1,n2)

for i in range(5):
   n=n1+n2
   print(n)
   #asign new n1 and n2 at each looping
   n1=n2
   n2=n

0 1
1
2
3
5
8

Q8). Write a program to check whether a given number is prime or not

In [ ]:
a=9
n=0

for i in range(1,a+1):
  if a%i==0:
    n=n+1#counting the no of factors

if n==2:print("prime")
else: print("Not prime")

Not prime

Q9).Write a program to calculate factorial of number

In [8]:
x=5

fact_n=1

for i in range (1,x+1):
  fact_n*=i

print(fact_n)

120

Q10). Find the second largest number in a list

In [9]:
def second_largest(nums):
    first = second = float('-inf')
    for num in nums:
        if num > first:
            second, first = first, num
        elif first > num > second:
            second = num
    return second if second != float('-inf') else None
num=[1,2,3,4]
second_largest(num)

3

In [ ]:
nums = [3, 7, 2, 9]
first = second = float('-inf')#'-inf' represent minus infinity in Python
for num in nums:
    if num > first:
        second, first = first, num
    elif num > second and num != first:
        second = num
print("Second largest:", second)  # Output: 7

Q11). We need to count the number of words using split function

In [16]:
text = "Verilog simulation is running smoothly"
words = text.split()
print(words)
words = text.split('m')#Generally it splits the array around the spaces but we can give a specific value as well
print(words)
word_count = len(words)
print("Number of words:", word_count)

['Verilog', 'simulation', 'is', 'running', 'smoothly']
['Verilog si', 'ulation is running s', 'oothly']
Number of words: 3

Q12).In an AC circuit the total impedence z of a series RLC ciruit is given by z=r+(omegaL-(1/omegaC))j.Task is to calculate the impedence as a complex number and also return its magnitude and phase angle(in degrees).Given, r=100,C=100e^-6, l=0.5,omega=2*math.pie*f,f=50hz(use library math)

In [15]:
import math
import cmath

# Constants
r = 100                      # Resistance in ohms
C = 100e-6                   # Capacitance in farads
L = 0.5                      # Inductance in henrys
f = 50                      # Frequency in Hz
omega = 2 * math.pi * f     # Angular frequency

# Reactance components
X_L = omega * L
X_C = 1 / (omega * C)
imag_part = X_L - X_C

# Complex impedance
Z = complex(r, imag_part)#complex([real[, imag]])


# Magnitude of impedance
magnitude = abs(Z)

# Phase angle in degrees
phase_angle = math.degrees(cmath.phase(Z))

# Output
print("Impedance (Z):", Z)
print("Magnitude:", magnitude)
print("Phase angle (degrees):", phase_angle)